@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.App {
  min-height: 100vh;
  display: flex;
  background-image: url('./background.jpeg');
  background-size: cover;
  background-position: center;
  color: black;
  font-family: "Josefin Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}